@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

:root {
    --color-main:linear-gradient(180deg, #33383D 0%, #1C1D20 100%);
    --color-bg: linear-gradient(90.16deg, #33383D 0%, #1C1D20 100%);
    --color-bg-main: linear-gradient(105.96deg, #FFFFFF 0%, #F0F0F0 97.86%);
    --color-font: #E0E0E0;
    --color-button:linear-gradient(90deg, #FF2D04 0%, #C13216 100%);
    --font-home-primary:#C12D18;
    --font-home-secundary:#222222;
    --font-button:#C13216;
    --color-white:#FFFFFF;
    --color-yellow-msg: #E9B425;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.header{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.main{
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: row;
    justify-content: space-between;
    background: #ccc;
}

.container-login{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background: var(--color-main);
    color: var(--color-font);
    padding: 0 10%;
    
}
.login-text{
    min-width: 400px;
    width: 450px;
    margin-bottom: 120px;
}

.login-text h1{
    font-size: 60px;
    margin-bottom: 10px;
}

.login-text p{
    font-size: 16px;
    line-height: 30px;
}

.form-login{
    min-width:450px;
}

.form-login h2{
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 32px;
}

.input{
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 33px;
}

.field{
    width: 100%;
    max-width: 380px;
    height: 60px;
    border-radius: 50px;
    padding: 0 20px;
    border: 1px solid;
    border-color: var(--color-font);
    background: transparent;
    color: #E0E0E0;
    font-size: 16px;
}

.field-error{
    border-color: var(--color-yellow-msg);;
}

.msg-erro{
    font-size: 16px;
    font-weight: 700;
    color: var(--color-yellow-msg);
}

.icon{
    position: absolute;
    right: 25px;
}

.icon-user, .icon-pass{
    right: 100px;
}


.btn{
    background: var(--color-button);
    width: 100%;
    max-width: 380px;
    height: 60px;
    border-radius: 50px;
    color: var(--color-white);
    border: 0px;
    margin-top: 75px;
    cursor: pointer;
}

.btn-login{
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}

.wallpaper{
    width: 50%;
    background: url(../img/bg-login.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    
}

.logo{
    width: 100%;
    height: 100%;
    display: flex; 
    justify-content: center;
   align-items: flex-start;

}

.logo img{
    width: 306px;
    max-width: 306px;
    margin-top: 20px;
}


/* style page home */

.header{
    display: flex;
    justify-content: space-between;
}

.logo-home{
    
}

.watch-date{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--font-home-secundary);
}

.watch{
    font-size: 144px;
}

.date{
    font-size: 14px;
    font-weight: 400;
}

.temp{
}

.container-main{
    background-color: var(--color-bg-main);
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.logo-compass{
    background-position: bottom left;
}

.text-main{
    display: flex;
    flex-direction: column;  
    text-align: right;
    margin-right: 134px;  
}

.text-main-primary {
    font-weight: bold;
    color: var(--font-home-primary);
    font-size: 64px;
}

.text-main-primary:first-child {
	font-size: 24px;
}

.text-main-secundary{
    color: var(--font-home-secundary);
    font-size: 24px;
}

.container-footer{
    display: flex;
    justify-content: space-around;
    background: var(--color-bg);
    width: 100%;
    height: 100px;
    font-family: 'Montserrat', sans-serif;
}

.text-footer{
    color: var(--color-white);
    text-align: right;
    margin-left: 50px;
    font-size: 14px;
    margin-top: 33px;
    line-height: 15px;
    font-weight: 400;
}

.button-link{
    width: 131px;
    height: 99px;
    background-color: var(--color-white);
    text-align:center;  
}

.text-button{
    text-decoration: none;
    color: var(--font-button);
    
}

.button-logout{
    text-decoration: none;
    color: var(--color-white);
}


